
AOC-1/.idea/.name
*.iml
AOC-1/.idea/misc.xml
AOC-1/.idea/modules.xml
AOC-1/.idea/vcs.xml
AOC-1/cmake-build-debug/.cmake/api/v1/query/cache-v2
AOC-1/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
AOC-1/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
AOC-1/CMakeLists.txt
AOC-1/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
*.json
AOC-1/cmake-build-debug/.ninja_deps
AOC-1/cmake-build-debug/.ninja_log
*.exe
*.ninja
*.cmake
AOC-1/cmake-build-debug/CMakeCache.txt
*.bin
AOC-1/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
AOC-1/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.obj
AOC-1/cmake-build-debug/CMakeFiles/clion-log.txt
AOC-1/cmake-build-debug/CMakeFiles/clion-environment.txt
*.check_cache
AOC-1/cmake-build-debug/CMakeFiles/CMakeOutput.log
AOC-1/cmake-build-debug/CMakeFiles/TargetDirectories.txt
AOC-1/cmake-build-debug/input.txt
AOC-1/cmake-build-debug/Testing/Temporary/LastTest.log
AOC-1/input.txt
AOC-1/.idea/workspace.xml
